body {
    background-color:black;
}

.buttons {
    background-color: white;
    color: black;
    font-size: 1em;
    border: 1px inset black;
    border-radius: 12em;
    margin: 9px;
    
}
 .buttons:hover {
     
     background-color:white;
     
 }

 #div1 {
     display: flex;
     justify-content: space-around;
    border: 1px inset black;
    border-radius: 9em;
    background-color: white;
 }

 #header2 {
     display: flex;
     justify-content: center;
     font-size: 1em;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }

 h3 {
     display: flex;
     justify-content: center;
     font-size: 4em;
     border: 1px inset black;
     border-radius: 9em;
     background-color: white;
 }
 }
 input {
     border-radius: 3px;
     background-color: aliceblue;
 }
